@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Sleek Modern Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(169, 118, 47, 0.35); /* Soft Gold Accent */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(169, 118, 47, 0.8);
}